# Database (Supabase)
DATABASE_URL="postgresql://user:password@host:port/database?schema=public&pgbouncer=true"
DIRECT_URL="postgresql://user:password@host:port/database?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://gzrkslkwrlrtfivnqbua.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd6cmtzbGt3cmxydGZpdm5xYnVhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM3OTU3NTYsImV4cCI6MjA3OTM3MTc1Nn0.U14fWD_MFm1LXmlx2jP9gJ5lQtfP_BL4vTohTOjXPdo"
